.flex-columns {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.flex-rows {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: start;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-inverse {
  flex-wrap: wrap-reverse;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.flex-wrapper {
  @extend .flex-columns;
  @extend .flex-between;

  flex-wrap: wrap;
}

/* --------------------------------------------

 BLOCK

-------------------------------------------- */

$spaces: (0, 1, 2, 3, 4, 5, 6, 7);

@each $space in $spaces {
  .flex-#{$space} {
    flex: #{$space};
  }
}
