.clearfix {
  *zoom: 1;
}

.clearfix::after,
.clearfix::before {
  width: 0;
  height: 0;
  content: '.';
  font-size: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

.clearfix::after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}
