*,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body {
  color: $black;
  width: $body-width;
  font-size: $body-font-size;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li + li {
  margin-top: 12px;
}

button {
  border: 0;
  outline: none;
  font-size: 1em;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background: transparent;
  text-overflow: ellipsis;
}

*[role='button'] {
  outline: none;
  cursor: pointer;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.disabled,
:disabled,
// a: hover DOIT venir après: lien et a: visited
// a: active doit venir après un: hover
:disabled:link,
:disabled:visited,
:disabled:hover,
:disabled:active {
  cursor: default;
  cursor: not-allowed;
  box-shadow: inherit;
  text-shadow: inherit;
  pointer-events: none;
}

/* ------------------------------------------------------

 CLASSES

------------------------------------------------------ */

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
