*,
input,
button,
textarea {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
}

body {
  color: #000000;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li ~ li {
  margin-top: 12px;
}

button {
  outline: none;
  cursor: pointer;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.disabled,
:disabled,
:disabled:hover,
:disabled:visited {
  cursor: not-allowed;
  box-shadow: inherit;
  text-shadow: inherit;
  pointer-events: none;
}

/* ------------------------------------------------------

 CLASSES

------------------------------------------------------ */

.clearfix {
  *zoom: 1;
}

.clearfix::after,
.clearfix::before {
  width: 0;
  height: 0;
  content: '.';
  font-size: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

.clearfix::after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.absolute {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.relative {
  position: relative;
}

.no-border {
  border: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-scroll {
  overflow: hidden !important;
}

.no-background {
  background: transparent;
}

.scroll-x {
  overflow-y: hidden !important;
  overflow-x: scroll !important;
}

.scrollx-y {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: inherit;
  visibility: inherit;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* --------------------------------------------

 TEXT Alignments

-------------------------------------------- */
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
